.card-character {
  display: flex;
  flex-direction: row;
  height: 200px;
  border: 1px solid $grey-400;
  margin-bottom: 1rem;
  border-radius: 8px;
  width: 100%;

  &-image {
    width: 50%;

    img {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      border-radius: 8px 0 0 8px;
      object-fit: cover;
    }
  }

  &-description {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;

    h4,
    span {
      font-size: 12px;
      margin-bottom: 0.5rem;
      text-align: left;
    }
  }
}
